In [27]:
import requests
from datetime import datetime
from pprint import pprint  # Import pprint function from the pprint module
import sqlite3
import pandas as pd 

res = requests.get("https://api.openweathermap.org/data/2.5/weather?lat=59.3293&lon=18.0686&appid=8f20807cea52eed92572aea82df038d5")

data = res.json()
print(datetime.now())
pprint(data)  # Use pprint to display the data in a more readable format

2023-12-18 10:19:40.701543
{'base': 'stations',
 'clouds': {'all': 75},
 'cod': 200,
 'coord': {'lat': 59.3293, 'lon': 18.0686},
 'dt': 1702891135,
 'id': 2673723,
 'main': {'feels_like': 276.74,
          'humidity': 90,
          'pressure': 1008,
          'temp': 280,
          'temp_max': 280.07,
          'temp_min': 278.2},
 'name': 'Stockholm',
 'sys': {'country': 'SE',
         'id': 1788,
         'sunrise': 1702885270,
         'sunset': 1702907226,
         'type': 1},
 'timezone': 3600,
 'visibility': 10000,
 'weather': [{'description': 'broken clouds',
              'icon': '04d',
              'id': 803,
              'main': 'Clouds'}],
 'wind': {'deg': 260, 'speed': 5.14}}

In [23]:
pprint(data["main"]["temp"])

279.96

In [42]:
temp_measurment = {
    "temp": data["main"]["temp"],
    "date": datetime.now()
}

print(temp_measurment)

conn = sqlite3.connect("apidata2.db")

df.to_sql("temp_measurment", conn, if_exists='append')
df = df.set_index("date")

df = pd.DataFrame([temp_measurment])
df.to_csv("temp_measurment")
df.head()

{'temp': 280, 'date': datetime.datetime(2023, 12, 18, 10, 53, 11, 561241)}

ValueError: duplicate name in index/columns: cannot insert level_0, already exists

In [43]:
df = pd.read_sql_query("SELECT * FROM temp_measurment", conn)

df.head()

   level_0  index  temp                        date
0      0.0      0   280  2023-12-18 10:21:17.170657
1      NaN      0   280  2023-12-18 10:26:18.215948